*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1e8e6;
    
}

.header-layout{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

}

h1{
    color: #543c52;
}

.main-layout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #361d32;
    padding: 50px 40px;
    border-radius: 10px;
    min-width: 50vw;
    max-width: 80%;
}

.laughing-image img{
    height: 100px;
    width: 100px;
}

.container p{
    text-align: center;
    font-size: 1.5rem;
    color: #edd2cb;
    font-weight: 600;
    line-height: 30px;
    margin: 30px 40px;
}


button{
    background-color: #f55951;
    color: #edd2cb;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

